/* ****FONT-FACE START**** */
@font-face {
  src: url("./FONT/Roboto");
  font-family: 'Roboto', sans-serif;
}

/* ****FONT-FACE START**** */

/* ****BASIC TO THE CODES START**** */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  padding: 0 20px;
}

/* ****BASIC TO THE CODES END**** */

/* ****CSS ROOT FONT-COLOR START**** */
:root {
  --bg-color: #FAC960;
  --btn-color: #A8863D;
  --content-color: #000000 40%;
  --text-color: #8A6D2F;
  --header-color: #FFFFFF;
  --header-icon: #000000;
  --search-placeholder: #999999;
  --section-bgColor: #F2F2F2;
  --border-color: #758696;
  --footer-bgcolor: #F2F2F2;
}

/* ****CSS ROOT FONT-COLOR END**** */

/* ****HEADER START**** */
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  width: 100%;
}

.nav {
  margin: 0 auto;
  height: 39px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav__logo a .nav__logo_content {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 22px;
  color: black;
  transition: all .4s ease;
}

.nav .nav__logo a .nav__logo_content:hover {
  color: var(--bg-color);
}

.nav__icons i {
  color: var(--header-icon);
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all .4s ease;
}

.nav__icons i:hover {
  color: var(--bg-color);
}

.nav__logo_link {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

/* ****HEADER END**** */

/* ****MAIN START**** */
.main {
  background-color: var(--bg-color);
  width: 100%;
  height: 421px;

}

.main__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 421px;
  text-align: center;
}

.main__section_search .main__section_search_form {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}

.main__section .main__section_content .main__section_content_paragraph_one {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 54px;
  color: var(--text-color);
}

.main__section_search .main__section_search_form .main__section_search_form_content {
  width: 560px;
  height: 54px;
  background-color: var(--header-color);
  border-radius: 2px 0px 0px 2px;
  outline: none;
  border: none;
  font-size: 25px;
  text-indent: 40px;
  color: var(--search-placeholder);
}

::placeholder {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--search-placeholder);
}

.main__section_search .main__section_search_form .main__section_search_form_btn {
  background-color: var(--btn-color);
  width: 240px;
  height: 54px;
  border-radius: 0px 2px 2px 0px;
  color: var(--header-color);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 54px;
  border: none;
  cursor: pointer;
}

/* ****MAIN END**** */

/* ****SECTION START**** */
.section {
  background-color: var(--section-bgColor);
  width: 100%;
  height: 438px;
}

.section__content {
  width: 100%;
  height: 438px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.section__content .section__content_text {
  color: rgba(0, 0, 0, 0.56);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 36px;
  margin: 0 0 30px 0;
}

.section__content_text_paragraph {
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  margin: 0 0 50px 0;
}

.section__mobile_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 900px;
  text-align: center;
}

.section__mobile_content_text {
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 36px;
  margin: 35px 0;
}

.section__mobile_content_text_paragraph {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.4);
  margin: 0 0 35px 0;
}

.section__font {
  background-color: var(--bg-color);
  width: 100%;
  height: 313px;
  position: absolute;
  top: 1550px;
}

.section__font_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 313px;
}

.section__font_content_text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 36px;
  color: var(--text-color);
  margin: 10px 0;
}

.section__font_content_paragraph {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.section__mobile_content_img img {
  width: 381px;
}

.section__font_content_border {
  margin: 10px 0 0 0;
  border: 1px solid var(--border-color);
  padding: 5px 30px;
  border-radius: 3px;
  background-color: var(--header-color);
}

.section__font_content_border_dotted {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: var(--search-placeholder);
  line-height: 22px;
}

/* ****SECTION END**** */


/* ****FOOTER START**** */
.footer {
  height: 240px;
  width: 100%;
  background-color: var(--footer-bgcolor);
  margin: 25px 0 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer__icons i {
  color: var(--header-icon);
  transition: all .4s ease;
  cursor: pointer;
  height: 17px;
  width: 17px;
  margin: 0 10px 75px 10px;
}

.footer__icons i:hover {
  color: var(--bg-color);
}

/* ****FOOTER END**** */

/* ****RESPONSIVE START**** */
@media only screen and (max-width: 820px) and (min-width: 760px) {
  .section__content img {
    width: 190px;
  }

  .section__content_text_paragraph {
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    margin: 0 0 50px 0;
  }

  .section__mobile_content_text_paragraph {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.4);
    margin: 0 0 35px 0;
  }

  .section__font_content_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 36px;
    color: var(--text-color);
  }

  .section__mobile_content_text {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 36px;
    margin: 35px 0;
  }

  .section__content .section__content_text {
    color: rgba(0, 0, 0, 0.56);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 36px;
    margin: 0 0 30px 0;
  }

  .main__section_search .main__section_search_form .main__section_search_form_content {
    width: 450px;
    height: 54px;
    background-color: var(--header-color);
    border-radius: 2px 0px 0px 2px;
    outline: none;
    border: none;
    font-size: 25px;
    text-indent: 40px;
    color: var(--search-placeholder);
  }

  ::placeholder {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--search-placeholder);
  }

  .main__section_search .main__section_search_form .main__section_search_form_btn {
    background-color: var(--btn-color);
    width: 200px;
    height: 54px;
    border-radius: 0px 2px 2px 0px;
    color: var(--header-color);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 54px;
    border: none;
    cursor: pointer;
  }

  .main__section .main__section_content .main__section_content_paragraph_one {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: var(--text-color);
  }
}

@media only screen and (max-width: 760px) and (min-width: 576px) {
  .section__content img {
    width: 175px;
  }

  .section__content_text_paragraph {
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    margin: 0 0 50px 0;
  }

  .section__mobile_content_text_paragraph {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.4);
    margin: 0 0 35px 0;
  }

  .section__font_content_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 36px;
    color: var(--text-color);
  }

  .section__content .section__content_text {
    color: rgba(0, 0, 0, 0.56);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 36px;
    margin: 0 0 30px 0;
  }

  .section__mobile_content_text {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 36px;
    margin: 35px 0;
  }

  .main__section_search .main__section_search_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0 0 0;
  }

  .main__section_search .main__section_search_form .main__section_search_form_btn {
    background-color: var(--btn-color);
    width: 450px;
    height: 54px;
    border-radius: 0px 2px 2px 0px;
    color: var(--header-color);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 54px;
    border: none;
    cursor: pointer;
  }

  .main__section_search .main__section_search_form .main__section_search_form_content {
    width: 450px;
    height: 54px;
    background-color: var(--header-color);
    border-radius: 2px 0px 0px 2px;
    outline: none;
    border: none;
    font-size: 22px;
    text-indent: 40px;
    color: var(--search-placeholder);
  }

  ::placeholder {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--search-placeholder);
  }

  .main__section .main__section_content .main__section_content_paragraph_one {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 54px;
    color: var(--text-color);
  }
}

@media only screen and (max-width: 576px) and (min-width: 360px) {
  .section__content img {
    width: 165px;
  }

  .section__content_text_paragraph {
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 50px 0;
  }

  .section__mobile_content_text_paragraph {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.4);
    margin: 0 0 35px 0;
  }

  .section__font_content_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: var(--text-color);
  }

  .section__content .section__content_text {
    color: rgba(0, 0, 0, 0.56);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 30px 0;
  }

  .section__mobile_content_text {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin: 35px 0;
  }

  .main__section_search .main__section_search_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0 0 0;
  }

  .main__section_search .main__section_search_form .main__section_search_form_btn {
    background-color: var(--btn-color);
    width: 350px;
    height: 54px;
    border-radius: 0px 2px 2px 0px;
    color: var(--header-color);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 54px;
    border: none;
    cursor: pointer;
  }

  .main__section_search .main__section_search_form .main__section_search_form_content {
    width: 350px;
    height: 54px;
    background-color: var(--header-color);
    border-radius: 2px 0px 0px 2px;
    outline: none;
    border: none;
    font-size: 20px;
    text-indent: 40px;
    color: var(--search-placeholder);
  }

  ::placeholder {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--search-placeholder);
  }

  .main__section .main__section_content .main__section_content_paragraph_one {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 54px;
    color: var(--text-color);
  }

  .section__mobile_content_img img {
    width: 275px;
  }
}

@media only screen and (max-width: 360px) and (min-width: 280px) {
  .section__content img {
    width: 160px;
  }

  .section__content_text_paragraph {
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 50px 0;
  }

  .section__mobile_content_text_paragraph {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.4);
    margin: 0 0 35px 0;
  }

  .section__font_content_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: var(--text-color);
  }

  .section__mobile_content_text {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    margin: 35px 0;
  }

  .section__content .section__content_text {
    color: rgba(0, 0, 0, 0.56);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    margin: 0 0 30px 0;
  }

  .section__mobile_content_img img {
    width: 260px;
  }

  .section__font_content {
    margin: 0 auto;
    text-align: center;
  }

  .section__font_content_paragraph {
    text-align: center;
  }

  .main__section_search .main__section_search_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0 50px 0;
  }

  .main__section_search .main__section_search_form .main__section_search_form_btn {
    background-color: var(--btn-color);
    width: 260px;
    height: 54px;
    border-radius: 0px 2px 2px 0px;
    color: var(--header-color);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 54px;
    border: none;
    cursor: pointer;
  }

  .main__section_search .main__section_search_form .main__section_search_form_content {
    width: 260px;
    height: 54px;
    background-color: var(--header-color);
    border-radius: 2px 0px 0px 2px;
    outline: none;
    border: none;
    font-size: 18px;
    text-indent: 40px;
    color: var(--search-placeholder);
  }

  ::placeholder {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--search-placeholder);
  }

  .main__section .main__section_content .main__section_content_paragraph_one {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 54px;
    color: var(--text-color);
  }
}

/* ****RESPONSIVE END**** */